<!-- wp:template-part {"slug":"top-header","theme":"ati-theme-2026","area":"header"} /-->

<!-- wp:group {"metadata":{"name":"Main Header"},"style":{"position":{"type":"sticky","top":"0px"},"spacing":{"margin":{"top":"var:preset|spacing|0","bottom":"var:preset|spacing|0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group"
    style="margin-top:var(--wp--preset--spacing--0);margin-bottom:var(--wp--preset--spacing--0)">
    <!-- wp:template-part {"slug":"main-header","theme":"ati-theme-2026","area":"header"} /--></div>
<!-- /wp:group -->

<!-- wp:block {"ref":22500} /-->

<!-- wp:group {"tagName":"main","className":"is-style-section-page-section-tertiary is-style-ati-page-section-default","style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"backgroundColor":"brand-100","layout":{"type":"constrained"}} -->
<main
    class="wp-block-group is-style-section-page-section-tertiary is-style-ati-page-section-default has-brand-100-background-color has-background">
    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:heading {"level":1,"style":{"typography":{"textAlign":"center"}}} -->
        <h1 class="wp-block-heading has-text-align-center">Whoops!</h1>
        <!-- /wp:heading -->

        <!-- wp:paragraph {"className":"has-secondary-color has-text-color","style":{"typography":{"fontStyle":"normal","fontWeight":"600","textAlign":"center"}},"textColor":"secondary","fontSize":"400"} -->
        <p class="has-text-align-center has-secondary-color has-text-color has-400-font-size"
            style="font-style:normal;font-weight:600">It looks like nothing was found at this location. <br>Maybe try a
            search?</p>
        <!-- /wp:paragraph -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"className":"is-style-section-fast-facts","style":{"spacing":{"padding":{"top":"var:preset|spacing|20","right":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|20"}},"border":{"radius":"8px"}},"backgroundColor":"brand-dark","layout":{"type":"constrained","contentSize":""}} -->
    <div class="wp-block-group is-style-section-fast-facts has-brand-dark-background-color has-background"
        style="border-radius:8px;padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)">
        <!-- wp:search {"label":"","showLabel":false,"placeholder":"  Search...","width":100,"widthUnit":"%","buttonText":"Search","buttonUseIcon":true,"className":"is-style-cta","style":{"border":{"width":"0px","style":"none","radius":{"topLeft":"var:preset|border-radius|100","topRight":"var:preset|border-radius|100","bottomLeft":"var:preset|border-radius|100","bottomRight":"var:preset|border-radius|100"}}},"backgroundColor":"accent-500","fontSize":"300"} /-->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ati-theme-2026","area":"footer"} /-->