<!-- wp:template-part {"slug":"top-header","theme":"ati-theme-2026","area":"header"} /-->

<!-- wp:group {"metadata":{"name":"Main Header"},"style":{"position":{"type":"sticky","top":"0px"},"spacing":{"margin":{"top":"var:preset|spacing|0","bottom":"var:preset|spacing|0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--0);margin-bottom:var(--wp--preset--spacing--0)">
    <!-- wp:template-part {"slug":"main-header","theme":"ati-theme-2026","area":"header"} /--></div>
<!-- /wp:group -->

<!-- wp:block {"ref":22500} /-->

<!-- wp:group {"tagName":"main","className":"site-content","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group site-content" style="margin-top:0;margin-bottom:0">


<!-- wp:pattern {"slug":"impact-hero", "theme":"ati-theme-2026"} /-->

<!-- wp:pattern {"slug":"impact-intro-bcorp", "theme":"ati-theme-2026"} /-->

<!-- wp:pattern {"slug":"impact-stats", "theme":"ati-theme-2026"} /-->


<!-- wp:pattern {"slug":"impact-fnf", "theme":"ati-theme-2026"} /-->


<!-- wp:pattern {"slug":"impact-tosco", "theme":"ati-theme-2026"} /-->


<!-- wp:pattern {"slug":"impact-partners", "theme":"ati-theme-2026"} /-->


<!-- wp:pattern {"slug":"impact-cta", "theme":"ati-theme-2026"} /-->


</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ati-theme-2026","tagName":"footer","className":"site-footer"} /-->
