<!-- wp:template-part {"slug":"top-header","theme":"ati-theme-2026","area":"header"} /-->

<!-- wp:template-part {"slug":"main-header","theme":"ati-theme-2026","area":"header"} /-->

<!-- wp:group {"metadata":{"name":"Single Hero"},"align":"full","style":{"spacing":{"margin":{"top":"var:preset|spacing|0","bottom":"var:preset|spacing|0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"
    style="margin-top:var(--wp--preset--spacing--0);margin-bottom:var(--wp--preset--spacing--0)">
    <!-- wp:cover {"useFeaturedImage":true,"dimRatio":10,"overlayColor":"contrast","isUserOverlayColor":true,"minHeight":50,"contentPosition":"center center","isDark":false,"tagName":"section","sizeSlug":"large","metadata":{"name":"Hero"},"className":"alignfull is-style-default","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|0","bottom":"var:preset|spacing|80","right":"var:preset|spacing|0","left":"var:preset|spacing|0"},"blockGap":"var:preset|spacing|70"}},"layout":{"type":"constrained"}} -->
    <section class="wp-block-cover is-light alignfull is-style-default"
        style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--0);padding-right:var(--wp--preset--spacing--0);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--0);min-height:50px">
        <span aria-hidden="true"
            class="wp-block-cover__background has-contrast-background-color has-background-dim-10 has-background-dim"></span>
        <div class="wp-block-cover__inner-container">
            <!-- wp:group {"metadata":{"name":"Breadcrumbs"},"align":"full","className":"has-text-color has-link-color is-style-default","style":{"elements":{"link":{":hover":{"color":{"text":"var:preset|color|neutral-900"}}}},"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"},"margin":{"top":"0","bottom":"0"}},"color":{"background":"#dbbd8dde"}},"layout":{"type":"constrained"}} -->
            <div class="wp-block-group alignfull has-text-color has-link-color is-style-default has-background"
                style="background-color:#dbbd8dde;margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20)">
                <!-- wp:group {"align":"wide","className":"is-style-default","fontSize":"200","layout":{"type":"default"}} -->
                <div class="wp-block-group alignwide is-style-default has-200-font-size">
                    <!-- wp:yoast-seo/breadcrumbs /--></div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:group -->

            <!-- wp:group {"align":"wide","style":{"dimensions":{"minHeight":"0px"},"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|40","right":"var:preset|spacing|20","left":"var:preset|spacing|20"}}},"layout":{"type":"constrained","justifyContent":"center","contentSize":"1100px"}} -->
            <div class="wp-block-group alignwide"
                style="min-height:0px;padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--20)">
                <!-- wp:post-title {"textAlign":"center","level":1,"align":"wide","className":"is-style-shadow-text","style":{"typography":{"fontStyle":"normal","fontWeight":"500","textAlign":"center"},"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base","fontSize":"800"} /-->

                <!-- wp:paragraph {"metadata":{"name":"Tagline"},"className":"lsx-tagline-wrapper is-style-shadow-text has-base-color has-text-color has-link-color","style":{"typography":{"textAlign":"center"},"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"textColor":"base"} -->
                <p
                    class="has-text-align-center lsx-tagline-wrapper is-style-shadow-text has-base-color has-text-color has-link-color">
                </p>
                <!-- /wp:paragraph -->
            </div>
            <!-- /wp:group -->
        </div>
    </section>
    <!-- /wp:cover -->
</div>
<!-- /wp:group -->

<!-- wp:lsx-tour-operator/sticky-menu {"menuItems":[{"id":"SUMMARY","title":"SUMMARY"},{"id":"MAP","title":"MAP"},{"id":"ITINERARY","title":"ITINERARY"},{"id":"GALLERY","title":"GALLERY"},{"id":"INCLUDED/EXCLUDED","title":"INCLUDED/EXCLUDED"},{"id":"RELATED-TOURS","title":"RELATED TOURS"}],"customActiveBackgroundColor":"#232020","customActiveTextColor":"#DBBD8D","hoverBackgroundColor":"primary-500","hoverTextColor":"brand-500","backgroundColor":"primary-500","textColor":"base","style":{"typography":{"textAlign":"left"},"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}},"elements":{"link":{"color":{"text":"var:preset|color|base"}}}}} -->
<div style="margin-top:0;margin-bottom:0;--active-bg-color:#232020;--active-text-color:#DBBD8D;--hover-bg-color:var(--wp--preset--color--primary-500);--hover-text-color:var(--wp--preset--color--brand-500)"
    class="wp-block-lsx-tour-operator-sticky-menu has-text-align-left has-base-color has-primary-500-background-color has-text-color has-background has-link-color">
    <nav class="lsx-to-sticky-menu-nav is-layout-constrained has-global-padding" aria-label="Page section navigation">
        <ul class="lsx-to-sticky-menu-list alignwide" aria-label="Page sections">
            <li class="lsx-to-sticky-menu-item" data-section-id="SUMMARY"><a class="lsx-to-sticky-menu-button"
                    href="#SUMMARY" data-section-id="SUMMARY" aria-current="false"
                    style="padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20)">SUMMARY</a>
            </li>
            <li class="lsx-to-sticky-menu-item" data-section-id="MAP"><a class="lsx-to-sticky-menu-button" href="#MAP"
                    data-section-id="MAP" aria-current="false"
                    style="padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20)">MAP</a>
            </li>
            <li class="lsx-to-sticky-menu-item" data-section-id="ITINERARY"><a class="lsx-to-sticky-menu-button"
                    href="#ITINERARY" data-section-id="ITINERARY" aria-current="false"
                    style="padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20)">ITINERARY</a>
            </li>
            <li class="lsx-to-sticky-menu-item" data-section-id="GALLERY"><a class="lsx-to-sticky-menu-button"
                    href="#GALLERY" data-section-id="GALLERY" aria-current="false"
                    style="padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20)">GALLERY</a>
            </li>
            <li class="lsx-to-sticky-menu-item" data-section-id="INCLUDED/EXCLUDED"><a class="lsx-to-sticky-menu-button"
                    href="#INCLUDED/EXCLUDED" data-section-id="INCLUDED/EXCLUDED" aria-current="false"
                    style="padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20)">INCLUDED/EXCLUDED</a>
            </li>
            <li class="lsx-to-sticky-menu-item" data-section-id="RELATED-TOURS"><a class="lsx-to-sticky-menu-button"
                    href="#RELATED-TOURS" data-section-id="RELATED-TOURS" aria-current="false"
                    style="padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20)">RELATED
                    TOURS</a></li>
        </ul>
    </nav>
</div>
<!-- /wp:lsx-tour-operator/sticky-menu -->

<!-- wp:group {"tagName":"section","metadata":{"name":"SUMMARY"},"align":"wide","className":"is-style-ati-page-section-default lsx-to-sticky-menu-section","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|70"}}},"backgroundColor":"neutral-100","layout":{"type":"constrained"},"anchor":"SUMMARY","addToStickyMenu":true,"stickyMenuId":"SUMMARY","stickyMenuTitle":"SUMMARY"} -->
<section
    class="wp-block-group alignwide is-style-ati-page-section-default lsx-to-sticky-menu-section has-neutral-100-background-color has-background lsx-to-sticky-menu-section"
    id="SUMMARY" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--70)"
    data-sticky-menu-section="true" data-section-title="SUMMARY" role="region" aria-labelledby="SUMMARY-header">
    <!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|40","left":"var:preset|spacing|40"}}}} -->
    <div class="wp-block-columns alignwide"><!-- wp:column {"width":"66.66%"} -->
        <div class="wp-block-column" style="flex-basis:66.66%">
            <!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|10","bottom":"var:preset|spacing|10"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
            <div class="wp-block-group alignwide"
                style="padding-top:var(--wp--preset--spacing--10);padding-bottom:var(--wp--preset--spacing--10)">
                <!-- wp:post-title /-->

                <!-- wp:group {"metadata":{"name":"Price"},"align":"wide","className":"lsx-price-wrapper","fontSize":"400","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
                <div class="wp-block-group alignwide lsx-price-wrapper has-400-font-size">
                    <!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"lsx/post-meta","args":{"key":"price"}}}},"className":"amount","prefix":"From price: "} -->
                    <p class="amount"></p>
                    <!-- /wp:paragraph -->
                </div>
                <!-- /wp:group -->

                <!-- wp:post-content {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"default"}} /-->

                <!-- wp:read-more {"content":"Read more ","hoverTextColor":"accent-600","style":{"elements":{"link":{"color":{"text":"var:preset|color|accent-500"}}}},"textColor":"accent-500","fontSize":"400"} /-->
            </div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:column -->

        <!-- wp:column {"width":"33.34%","style":{"spacing":{"blockGap":"0"}}} -->
        <div class="wp-block-column" style="flex-basis:33.34%">
            <!-- wp:group {"style":{"position":{"type":"sticky","top":"0px"}},"layout":{"type":"constrained"},"stickyScrollOffset":"80px","unstickOnMobile":true} -->
            <div class="wp-block-group">
                <!-- wp:template-part {"slug":"fast-facts-tour","theme":"ati-theme-2026","area":"fast-facts"} /--></div>
            <!-- /wp:group -->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
</section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"MAP"},"align":"full","className":"lsx-location-wrapper lsx-to-sticky-menu-section is-style-default","style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"constrained"},"anchor":"MAP","addToStickyMenu":true,"stickyMenuId":"MAP","stickyMenuTitle":"MAP"} -->
<section
    class="wp-block-group alignfull lsx-location-wrapper lsx-to-sticky-menu-section is-style-default lsx-to-sticky-menu-section"
    id="MAP" data-sticky-menu-section="true" data-section-title="MAP" role="region" aria-labelledby="MAP-header">
    <!-- wp:group {"metadata":{"name":"Map Container"},"align":"full","style":{"border":{"radius":{"topLeft":"var:preset|border-radius|500","topRight":"var:preset|border-radius|500","bottomLeft":"var:preset|border-radius|500","bottomRight":"var:preset|border-radius|500"}}},"layout":{"type":"default"}} -->
    <div class="wp-block-group alignfull"
        style="border-top-left-radius:var(--wp--preset--border-radius--500);border-top-right-radius:var(--wp--preset--border-radius--500);border-bottom-left-radius:var(--wp--preset--border-radius--500);border-bottom-right-radius:var(--wp--preset--border-radius--500)">
        <!-- wp:cover {"dimRatio":50,"customOverlayColor":"#e2f0f7","isUserOverlayColor":false,"minHeight":500,"isDark":false,"className":"alignfull lsx-map-preview","layout":{"type":"constrained"}} -->
        <div class="wp-block-cover is-light alignfull lsx-map-preview" style="min-height:500px"><span aria-hidden="true"
                class="wp-block-cover__background has-background-dim" style="background-color:#e2f0f7"></span>
            <div class="wp-block-cover__inner-container">
                <!-- wp:paragraph {"className":"has-text-align-center has-600-font-size","style":{"typography":{"textAlign":"center"}},"fontSize":"600"} -->
                <p class="has-text-align-center has-600-font-size"><a href="#">Click here to display the map</a></p>
                <!-- /wp:paragraph -->
            </div>
        </div>
        <!-- /wp:cover -->
    </div>
    <!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"ITINERARY"},"align":"wide","className":"lsx-itinerary-wrapper is-style-ati-page-section-default lsx-to-sticky-menu-section","style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"backgroundColor":"neutral-100","layout":{"type":"constrained"},"anchor":"ITINERARY","addToStickyMenu":true,"stickyMenuId":"ITINERARY","stickyMenuTitle":"ITINERARY"} -->
<section
    class="wp-block-group alignwide lsx-itinerary-wrapper is-style-ati-page-section-default lsx-to-sticky-menu-section has-neutral-100-background-color has-background lsx-to-sticky-menu-section"
    id="ITINERARY" data-sticky-menu-section="true" data-section-title="ITINERARY" role="region"
    aria-labelledby="ITINERARY-header">
    <!-- wp:group {"metadata":{"name":"Title"},"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide">
        <!-- wp:heading {"className":"wp-block-heading has-text-align-center has-heading-font-family has-brand-serif-font-family","style":{"typography":{"fontStyle":"normal","fontWeight":"400"}}} -->
        <h2 class="wp-block-heading has-text-align-center has-heading-font-family has-brand-serif-font-family"
            style="font-style:normal;font-weight:400">Full day by day itinerary</h2>
        <!-- /wp:heading -->

        <!-- wp:group {"metadata":{"name":"Separator"},"layout":{"type":"constrained","contentSize":"200px"}} -->
        <div class="wp-block-group">
            <!-- wp:separator {"align":"center","className":"is-style-separator-thin","style":{"layout":{"selfStretch":"fill","flexSize":null}},"backgroundColor":"neutral-300"} -->
            <hr
                class="wp-block-separator aligncenter has-text-color has-neutral-300-color has-alpha-channel-opacity has-neutral-300-background-color has-background is-style-separator-thin" />
            <!-- /wp:separator -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"metadata":{"name":"Itinerary Day Loop","bindings":{"content":{"source":"lsx/tour-itinerary"}}},"align":"wide","layout":{"type":"default"}} -->
    <div class="wp-block-group alignwide">
        <!-- wp:columns {"metadata":{"categories":["lsx-tour-operator"],"patternName":"lsx-tour-operator/itinerary-list","name":"Itinerary Item"},"align":"full","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|30","left":"var:preset|spacing|30"},"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20","left":"var:preset|spacing|20","right":"var:preset|spacing|20"}},"border":{"radius":{"topLeft":"var:preset|border-radius|300","topRight":"var:preset|border-radius|300","bottomLeft":"var:preset|border-radius|300","bottomRight":"var:preset|border-radius|300"}},"shadow":"var:preset|shadow|200"},"backgroundColor":"base"} -->
        <div class="wp-block-columns alignfull has-base-background-color has-background"
            style="border-top-left-radius:var(--wp--preset--border-radius--300);border-top-right-radius:var(--wp--preset--border-radius--300);border-bottom-left-radius:var(--wp--preset--border-radius--300);border-bottom-right-radius:var(--wp--preset--border-radius--300);padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20);box-shadow:var(--wp--preset--shadow--200)">
            <!-- wp:column {"width":"25%"} -->
            <div class="wp-block-column" style="flex-basis:25%">
                <!-- wp:group {"metadata":{"name":"Image"},"className":"itinerary-image","style":{"layout":{"selfStretch":"fixed","flexSize":"300px"},"dimensions":{"minHeight":"300px"},"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
                <div class="wp-block-group itinerary-image" style="min-height:300px">
                    <!-- wp:image {"aspectRatio":"1","scale":"cover","sizeSlug":"medium","linkDestination":"none","className":"itinerary-image","style":{"border":{"radius":{"topLeft":"var:preset|border-radius|100","topRight":"var:preset|border-radius|100","bottomLeft":"var:preset|border-radius|100","bottomRight":"var:preset|border-radius|100"}},"layout":{"selfStretch":"fixed","flexSize":"300px"}}} -->
                    <figure class="wp-block-image size-medium has-custom-border itinerary-image"><img
                            src="/wp-content/plugins/tour-operator/assets/img/blocks/placeholder.png"
                            alt="Itinerary day image"
                            style="border-top-left-radius:var(--wp--preset--border-radius--100);border-top-right-radius:var(--wp--preset--border-radius--100);border-bottom-left-radius:var(--wp--preset--border-radius--100);border-bottom-right-radius:var(--wp--preset--border-radius--100);aspect-ratio:1;object-fit:cover" />
                    </figure>
                    <!-- /wp:image -->
                </div>
                <!-- /wp:group -->
            </div>
            <!-- /wp:column -->

            <!-- wp:column {"width":"","style":{"spacing":{"blockGap":"var:preset|spacing|40"}}} -->
            <div class="wp-block-column">
                <!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"var:preset|spacing|30","left":"var:preset|spacing|30"},"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|20"}}}} -->
                <div class="wp-block-columns"
                    style="padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20)">
                    <!-- wp:column {"width":"60%","style":{"spacing":{"blockGap":"var:preset|spacing|20"}}} -->
                    <div class="wp-block-column" style="flex-basis:60%">
                        <!-- wp:group {"metadata":{"name":"Day Heading"},"style":{"border":{"bottom":{"width":"0px","style":"none"},"top":[],"right":[],"left":[]}},"layout":{"type":"default"}} -->
                        <div class="wp-block-group" style="border-bottom-style:none;border-bottom-width:0px">
                            <!-- wp:heading {"level":3,"className":"itinerary-title","style":{"typography":{"fontStyle":"normal","fontWeight":"400"}},"fontSize":"400"} -->
                            <h3 class="wp-block-heading itinerary-title has-400-font-size"
                                style="font-style:normal;font-weight:400">Day 1 - 3</h3>
                            <!-- /wp:heading -->
                        </div>
                        <!-- /wp:group -->

                        <!-- wp:group {"metadata":{"name":"Description"},"className":"itinerary-description-wrapper","style":{"spacing":{"blockGap":"var:preset|spacing|30"},"layout":{"selfStretch":"fixed","flexSize":"60%"}},"layout":{"type":"constrained","justifyContent":"left"}} -->
                        <div class="wp-block-group itinerary-description-wrapper">
                            <!-- wp:paragraph {"className":"itinerary-description","style":{"spacing":{"margin":{"top":"0"}}}} -->
                            <p class="itinerary-description" style="margin-top:0">Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit. Maecenas vehicula auctor nisl, ut suscipit purus
                                consectetur dictum. Sed dapibus congue dolor sed iaculis. Fusce in molestie metus, vitae
                                commodo nibh.</p>
                            <!-- /wp:paragraph -->

                            <!-- wp:read-more {"content":"Read more","hoverTextColor":"cta-500","className":"is-style-default","style":{"typography":{"fontStyle":"normal","fontWeight":"500"},"elements":{"link":{"color":{"text":"var:preset|color|accent-500"}}}},"textColor":"accent-500"} /-->
                        </div>
                        <!-- /wp:group -->
                    </div>
                    <!-- /wp:column -->

                    <!-- wp:column {"width":"40%"} -->
                    <div class="wp-block-column" style="flex-basis:40%">
                        <!-- wp:group {"metadata":{"name":"Information"},"className":"lsx-itinerary-info","style":{"border":{"radius":"0.5rem"},"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"constrained"}} -->
                        <div class="wp-block-group lsx-itinerary-info" style="border-radius:0.5rem">
                            <!-- wp:group {"metadata":{"name":"Location Row"},"className":"itin-location-wrapper","style":{"spacing":{"blockGap":"0.3125rem"},"typography":{"fontStyle":"normal","fontWeight":"500"}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"center"}} -->
                            <div class="wp-block-group itin-location-wrapper" style="font-style:normal;font-weight:500">
                                <!-- wp:outermost/icon-block {"iconName":"","iconColor":"accent-500","iconColorValue":"#AA653C","width":"20px"} -->
                                <div class="wp-block-outermost-icon-block">
                                    <div class="icon-container has-icon-color has-accent-500-color"
                                        style="color:#AA653C;width:20px;transform:rotate(0deg) scaleX(1) scaleY(1)"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000"
                                            viewBox="0 0 256 256">
                                            <path
                                                d="M249.94,120.24l-27.05-6.76a95.86,95.86,0,0,0-80.37-80.37l-6.76-27a8,8,0,0,0-15.52,0l-6.76,27.05a95.86,95.86,0,0,0-80.37,80.37l-27,6.76a8,8,0,0,0,0,15.52l27.05,6.76a95.86,95.86,0,0,0,80.37,80.37l6.76,27.05a8,8,0,0,0,15.52,0l6.76-27.05a95.86,95.86,0,0,0,80.37-80.37l27.05-6.76a8,8,0,0,0,0-15.52Zm-95.49,22.9L139.31,128l15.14-15.14L215,128Zm-52.9,0L41,128l60.57-15.14L116.69,128ZM205.77,109.2,158.6,97.4,146.8,50.23A79.88,79.88,0,0,1,205.77,109.2Zm-62.63-7.65L128,116.69l-15.14-15.14L128,41ZM109.2,50.23,97.4,97.4,50.23,109.2A79.88,79.88,0,0,1,109.2,50.23Zm-59,96.57L97.4,158.6l11.8,47.17A79.88,79.88,0,0,1,50.23,146.8Zm62.63,7.65L128,139.31l15.14,15.14L128,215Zm33.94,51.32,11.8-47.17,47.17-11.8A79.88,79.88,0,0,1,146.8,205.77Z">
                                            </path>
                                        </svg></div>
                                </div>
                                <!-- /wp:outermost/icon-block -->

                                <!-- wp:paragraph {"metadata":{"name":"Location Value"},"className":"itinerary-location","fontSize":"200","prefix":"Location: "} -->
                                <p class="itinerary-location has-200-font-size">Card Link</p>
                                <!-- /wp:paragraph -->
                            </div>
                            <!-- /wp:group -->

                            <!-- wp:group {"metadata":{"name":"Accommodation Row"},"className":"itin-accommodation-wrapper","style":{"spacing":{"blockGap":"0.3125rem"},"typography":{"fontStyle":"normal","fontWeight":"500"}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
                            <div class="wp-block-group itin-accommodation-wrapper"
                                style="font-style:normal;font-weight:500">
                                <!-- wp:outermost/icon-block {"iconName":"","iconColor":"accent-500","iconColorValue":"#AA653C","width":"20px"} -->
                                <div class="wp-block-outermost-icon-block">
                                    <div class="icon-container has-icon-color has-accent-500-color"
                                        style="color:#AA653C;width:20px;transform:rotate(0deg) scaleX(1) scaleY(1)"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000"
                                            viewBox="0 0 256 256">
                                            <path
                                                d="M240,208H224V136l2.34,2.34A8,8,0,0,0,237.66,127L139.31,28.68a16,16,0,0,0-22.62,0L18.34,127a8,8,0,0,0,11.32,11.31L32,136v72H16a8,8,0,0,0,0,16H240a8,8,0,0,0,0-16ZM48,120l80-80,80,80v88H160V152a8,8,0,0,0-8-8H104a8,8,0,0,0-8,8v56H48Zm96,88H112V160h32Z">
                                            </path>
                                        </svg></div>
                                </div>
                                <!-- /wp:outermost/icon-block -->

                                <!-- wp:paragraph {"metadata":{"name":"Accommodation Value"},"className":"itinerary-accommodation","fontSize":"200","prefix":"Accommodation: "} -->
                                <p class="itinerary-accommodation has-200-font-size">Card Link</p>
                                <!-- /wp:paragraph -->
                            </div>
                            <!-- /wp:group -->

                            <!-- wp:group {"metadata":{"name":"Type Row"},"className":"itin-type-wrapper","style":{"spacing":{"blockGap":"0.3125rem"},"typography":{"fontStyle":"normal","fontWeight":"500"}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
                            <div class="wp-block-group itin-type-wrapper" style="font-style:normal;font-weight:500">
                                <!-- wp:outermost/icon-block {"iconName":"","iconColor":"accent-500","iconColorValue":"#AA653C","width":"20px"} -->
                                <div class="wp-block-outermost-icon-block">
                                    <div class="icon-container has-icon-color has-accent-500-color"
                                        style="color:#AA653C;width:20px;transform:rotate(0deg) scaleX(1) scaleY(1)"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000"
                                            viewBox="0 0 256 256">
                                            <path
                                                d="M219.31,108.68l-80-80a16,16,0,0,0-22.62,0l-80,80A15.87,15.87,0,0,0,32,120v96a8,8,0,0,0,8,8H216a8,8,0,0,0,8-8V120A15.87,15.87,0,0,0,219.31,108.68ZM208,208H48V120l80-80,80,80Z">
                                            </path>
                                        </svg></div>
                                </div>
                                <!-- /wp:outermost/icon-block -->

                                <!-- wp:paragraph {"metadata":{"name":"Type Value"},"className":"itinerary-type","fontSize":"200","prefix":"Type: "} -->
                                <p class="itinerary-type has-200-font-size">Card Link</p>
                                <!-- /wp:paragraph -->
                            </div>
                            <!-- /wp:group -->

                            <!-- wp:group {"metadata":{"name":"Drinks Basis Row"},"className":"itin-drinks-wrapper","style":{"spacing":{"blockGap":"0.3125rem"},"typography":{"fontStyle":"normal","fontWeight":"500"}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
                            <div class="wp-block-group itin-drinks-wrapper" style="font-style:normal;font-weight:500">
                                <!-- wp:outermost/icon-block {"iconName":"","iconColor":"accent-500","iconColorValue":"#AA653C","width":"20px"} -->
                                <div class="wp-block-outermost-icon-block">
                                    <div class="icon-container has-icon-color has-accent-500-color"
                                        style="color:#AA653C;width:20px;transform:rotate(0deg) scaleX(1) scaleY(1)"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000"
                                            viewBox="0 0 256 256">
                                            <path
                                                d="M206,26.69A8,8,0,0,0,200,24H56a8,8,0,0,0-7.94,9l23.15,193A16,16,0,0,0,87.1,240h81.8a16,16,0,0,0,15.89-14.09L207.94,33A8,8,0,0,0,206,26.69ZM191,40,188.1,64H67.9L65,40ZM168.9,224H87.1L69.82,80H186.18Z">
                                            </path>
                                        </svg></div>
                                </div>
                                <!-- /wp:outermost/icon-block -->

                                <!-- wp:paragraph {"metadata":{"name":"Drinks Basis Value"},"className":"itinerary-drinks","fontSize":"200","prefix":"Drinks basis: "} -->
                                <p class="itinerary-drinks has-200-font-size">Card Link</p>
                                <!-- /wp:paragraph -->
                            </div>
                            <!-- /wp:group -->

                            <!-- wp:group {"metadata":{"name":"Room Basis Row"},"className":"itin-room-wrapper","style":{"spacing":{"blockGap":"0.3125rem"},"typography":{"fontStyle":"normal","fontWeight":"500"}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
                            <div class="wp-block-group itin-room-wrapper" style="font-style:normal;font-weight:500">
                                <!-- wp:outermost/icon-block {"iconName":"","iconColor":"accent-500","iconColorValue":"#AA653C","width":"20px"} -->
                                <div class="wp-block-outermost-icon-block">
                                    <div class="icon-container has-icon-color has-accent-500-color"
                                        style="color:#AA653C;width:20px;transform:rotate(0deg) scaleX(1) scaleY(1)"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000"
                                            viewBox="0 0 256 256">
                                            <path
                                                d="M24,184H232a8,8,0,0,0,0-16h-8V152a96.12,96.12,0,0,0-88-95.66V40h16a8,8,0,0,0,0-16H104a8,8,0,0,0,0,16h16V56.34A96.12,96.12,0,0,0,32,152v16H24a8,8,0,0,0,0,16Zm24-32a80,80,0,0,1,160,0v16H48Zm192,56a8,8,0,0,1-8,8H24a8,8,0,0,1,0-16H232A8,8,0,0,1,240,208Z">
                                            </path>
                                        </svg></div>
                                </div>
                                <!-- /wp:outermost/icon-block -->

                                <!-- wp:paragraph {"metadata":{"name":"Room Basis Value"},"className":"itinerary-room","fontSize":"200","prefix":"Room basis: "} -->
                                <p class="itinerary-room has-200-font-size">Card Link</p>
                                <!-- /wp:paragraph -->
                            </div>
                            <!-- /wp:group -->
                        </div>
                        <!-- /wp:group -->
                    </div>
                    <!-- /wp:column -->
                </div>
                <!-- /wp:columns -->
            </div>
            <!-- /wp:column -->
        </div>
        <!-- /wp:columns -->
    </div>
    <!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"GALLERY"},"className":"lsx-gallery-wrapper is-style-ati-page-section-default lsx-to-sticky-menu-section","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":"var:preset|spacing|50"}},"layout":{"type":"constrained"},"anchor":"GALLERY","addToStickyMenu":true,"stickyMenuId":"GALLERY","stickyMenuTitle":"GALLERY"} -->
<section id="GALLERY"
    class="wp-block-group lsx-gallery-wrapper is-style-ati-page-section-default lsx-to-sticky-menu-section lsx-to-sticky-menu-section"
    style="margin-top:0;margin-bottom:0" data-sticky-menu-section="true" data-section-title="GALLERY" role="region"
    aria-labelledby="GALLERY-header">
    <!-- wp:group {"metadata":{"name":"Title"},"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide">
        <!-- wp:heading {"className":"wp-block-heading has-text-align-center has-heading-font-family has-brand-serif-font-family","style":{"typography":{"fontStyle":"normal","fontWeight":"400"}}} -->
        <h2 class="wp-block-heading has-text-align-center has-heading-font-family has-brand-serif-font-family"
            style="font-style:normal;font-weight:400">Gallery</h2>
        <!-- /wp:heading -->

        <!-- wp:group {"metadata":{"name":"Separator"},"layout":{"type":"constrained","contentSize":"200px"}} -->
        <div class="wp-block-group">
            <!-- wp:separator {"align":"center","className":"is-style-separator-thin","style":{"layout":{"selfStretch":"fill","flexSize":null}},"backgroundColor":"neutral-300"} -->
            <hr
                class="wp-block-separator aligncenter has-text-color has-neutral-300-color has-alpha-channel-opacity has-neutral-300-background-color has-background is-style-separator-thin" />
            <!-- /wp:separator -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide">
        <!-- wp:gallery {"linkTarget":"_blank","linkTo":"media","sizeSlug":"thumbnail","metadata":{"name":"TO Gallery","bindings":{"content":{"source":"lsx/gallery"}}},"align":"wide"} -->
        <figure class="wp-block-gallery alignwide has-nested-images columns-default is-cropped">
            <!-- wp:image {"linkDestination":"media"} -->
            <figure class="wp-block-image"><img alt="" /></figure>
            <!-- /wp:image -->

            <!-- wp:image {"linkDestination":"media"} -->
            <figure class="wp-block-image"><img alt="" /></figure>
            <!-- /wp:image -->

            <!-- wp:image {"linkDestination":"media"} -->
            <figure class="wp-block-image"><img alt="" /></figure>
            <!-- /wp:image -->
        </figure>
        <!-- /wp:gallery -->
    </div>
    <!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"INCLUDED/EXCLUDED"},"align":"wide","className":"is-style-ati-page-section-default lsx-to-sticky-menu-section","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"base","layout":{"type":"constrained","contentSize":""},"anchor":"INCLUDED/EXCLUDED","addToStickyMenu":true,"stickyMenuId":"INCLUDED/EXCLUDED","stickyMenuTitle":"INCLUDED/EXCLUDED"} -->
<section
    class="wp-block-group alignwide is-style-ati-page-section-default lsx-to-sticky-menu-section has-base-background-color has-background lsx-to-sticky-menu-section"
    id="INCLUDED/EXCLUDED" style="margin-top:0;margin-bottom:0" data-sticky-menu-section="true"
    data-section-title="INCLUDED/EXCLUDED" role="region" aria-labelledby="INCLUDED/EXCLUDED-header">
    <!-- wp:columns {"align":"wide","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|40","left":"var:preset|spacing|40"}}}} -->
    <div class="wp-block-columns alignwide"><!-- wp:column {"width":"50%","anchor":"lsx-included-wrapper"} -->
        <div class="wp-block-column" style="flex-basis:50%" id="lsx-included-wrapper">
            <!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary-500"}}}},"textColor":"primary-500","fontSize":"500"} -->
            <h3 class="wp-block-heading has-primary-500-color has-text-color has-link-color has-500-font-size">
                <strong>Included:</strong></h3>
            <!-- /wp:heading -->

            <!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"lsx/post-meta","args":{"key":"included"}}}}} -->
            <p></p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:column -->

        <!-- wp:column {"width":"50%","className":"lsx-not-included-wrapper"} -->
        <div class="wp-block-column lsx-not-included-wrapper" style="flex-basis:50%">
            <!-- wp:heading {"style":{"elements":{"link":{"color":{"text":"var:preset|color|primary-500"}}}},"textColor":"primary-500","fontSize":"500"} -->
            <h2 class="wp-block-heading has-primary-500-color has-text-color has-link-color has-500-font-size">
                <strong>Excluded:</strong></h2>
            <!-- /wp:heading -->

            <!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"lsx/post-meta","args":{"key":"not_included"}}}}} -->
            <p></p>
            <!-- /wp:paragraph -->
        </div>
        <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->
</section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","metadata":{"name":"RELATED TOURS"},"align":"full","className":"lsx-tour-related-tour-query-wrapper is-style-ati-page-section-default lsx-to-sticky-menu-section","style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"constrained"},"anchor":"RELATED-TOURS","addToStickyMenu":true,"stickyMenuId":"RELATED-TOURS","stickyMenuTitle":"RELATED TOURS"} -->
<section
    class="wp-block-group alignfull lsx-tour-related-tour-query-wrapper is-style-ati-page-section-default lsx-to-sticky-menu-section lsx-to-sticky-menu-section"
    id="RELATED-TOURS" data-sticky-menu-section="true" data-section-title="RELATED TOURS" role="region"
    aria-labelledby="RELATED-TOURS-header">
    <!-- wp:group {"metadata":{"name":"Title"},"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide">
        <!-- wp:heading {"className":"wp-block-heading has-text-align-center has-heading-font-family has-brand-serif-font-family","style":{"typography":{"fontStyle":"normal","fontWeight":"400"}}} -->
        <h2 class="wp-block-heading has-text-align-center has-heading-font-family has-brand-serif-font-family"
            style="font-style:normal;font-weight:400">Related Tours</h2>
        <!-- /wp:heading -->

        <!-- wp:group {"metadata":{"name":"Separator"},"layout":{"type":"constrained","contentSize":"200px"}} -->
        <div class="wp-block-group">
            <!-- wp:separator {"align":"center","className":"is-style-separator-thin","style":{"layout":{"selfStretch":"fill","flexSize":null}},"backgroundColor":"neutral-300"} -->
            <hr
                class="wp-block-separator aligncenter has-text-color has-neutral-300-color has-alpha-channel-opacity has-neutral-300-background-color has-background is-style-separator-thin" />
            <!-- /wp:separator -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide">
        <!-- wp:query {"queryId":2,"query":{"perPage":6,"postType":"tour","order":"asc","orderBy":"title"},"metadata":{"name":"Related Tours Query"},"align":"wide","className":"lsx-to-slider"} -->
        <div class="wp-block-query alignwide lsx-to-slider">
            <!-- wp:post-template {"className":"lsx-tour-related-tour-query","layout":{"type":"grid","columnCount":3}} -->
            <!-- wp:group {"metadata":{"name":"Tour Card","patternName":"ati-tour-card"},"className":"overflow-hidden is-style-tour-card-dark is-style-card-dark","style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"default"},"ariaLabel":"Tour Card"} -->
            <div aria-label="Tour Card"
                class="wp-block-group overflow-hidden is-style-tour-card-dark is-style-card-dark">
                <!-- wp:post-featured-image {"isLink":true,"aspectRatio":"3/2","linkTarget":"_blank"} /-->

                <!-- wp:group {"metadata":{"name":"Content"},"style":{"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30","top":"var:preset|spacing|5","bottom":"var:preset|spacing|5"}}},"layout":{"type":"default"}} -->
                <div class="wp-block-group"
                    style="padding-top:var(--wp--preset--spacing--5);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--5);padding-left:var(--wp--preset--spacing--30)">
                    <!-- wp:group {"metadata":{"name":"Tour Title"},"className":"center-vertically","style":{"dimensions":{"minHeight":"0rem"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
                    <div class="wp-block-group center-vertically" style="min-height:0rem">
                        <!-- wp:post-title {"textAlign":"center","level":3,"isLink":true,"style":{"typography":{"fontStyle":"normal","fontWeight":"300"},"elements":{"link":{":hover":{"color":{"text":"var:preset|color|base"}}}}}} /-->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:group {"metadata":{"name":"Tour Information"},"style":{"border":{"top":{"color":"var:preset|color|brand-500","width":"1px"},"bottom":{"width":"0px","style":"none"},"right":[],"left":[]},"spacing":{"blockGap":"var:preset|spacing|10","padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|0"}},"elements":{"link":{":hover":{"color":{"text":"var:preset|color|brand-300"}},"color":{"text":"var:preset|color|brand-500"}}}},"layout":{"type":"default"},"ariaLabel":"Tour details"} -->
                    <div aria-label="Tour details" class="wp-block-group has-link-color"
                        style="border-top-color:var(--wp--preset--color--brand-500);border-top-width:1px;border-bottom-style:none;border-bottom-width:0px;padding-top:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--0)">
                        <!-- wp:group {"metadata":{"name":"Price Row"},"className":"lsx-price-wrapper","style":{"spacing":{"blockGap":"var:preset|spacing|10","padding":{"top":"var:preset|spacing|0","bottom":"var:preset|spacing|0","left":"var:preset|spacing|0","right":"var:preset|spacing|0"}}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"center"}} -->
                        <div class="wp-block-group lsx-price-wrapper"
                            style="padding-top:var(--wp--preset--spacing--0);padding-right:var(--wp--preset--spacing--0);padding-bottom:var(--wp--preset--spacing--0);padding-left:var(--wp--preset--spacing--0)">
                            <!-- wp:outermost/icon-block {"iconName":"","width":"20px"} -->
                            <div class="wp-block-outermost-icon-block">
                                <div class="icon-container"
                                    style="width:20px;transform:rotate(0deg) scaleX(1) scaleY(1)"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                        viewBox="0 0 256 256">
                                        <path
                                            d="M128,88a40,40,0,1,0,40,40A40,40,0,0,0,128,88Zm0,64a24,24,0,1,1,24-24A24,24,0,0,1,128,152ZM240,56H16a8,8,0,0,0-8,8V192a8,8,0,0,0,8,8H240a8,8,0,0,0,8-8V64A8,8,0,0,0,240,56ZM193.65,184H62.35A56.78,56.78,0,0,0,24,145.65v-35.3A56.78,56.78,0,0,0,62.35,72h131.3A56.78,56.78,0,0,0,232,110.35v35.3A56.78,56.78,0,0,0,193.65,184ZM232,93.37A40.81,40.81,0,0,1,210.63,72H232ZM45.37,72A40.81,40.81,0,0,1,24,93.37V72ZM24,162.63A40.81,40.81,0,0,1,45.37,184H24ZM210.63,184A40.81,40.81,0,0,1,232,162.63V184Z">
                                        </path>
                                    </svg></div>
                            </div>
                            <!-- /wp:outermost/icon-block -->

                            <!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"lsx/post-meta","args":{"key":"price"}},"__default":{"source":"core/pattern-overrides"}},"name":"Price"},"className":"lsx-info-value","fontSize":"200","prefix":"Price from: "} -->
                            <p class="lsx-info-value has-200-font-size"></p>
                            <!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:group -->

                        <!-- wp:group {"metadata":{"name":"Duration Row"},"className":"lsx-duration-wrapper","style":{"spacing":{"blockGap":"var:preset|spacing|10","padding":{"top":"var:preset|spacing|0","bottom":"var:preset|spacing|0","left":"var:preset|spacing|0","right":"var:preset|spacing|0"}}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"center"}} -->
                        <div class="wp-block-group lsx-duration-wrapper"
                            style="padding-top:var(--wp--preset--spacing--0);padding-right:var(--wp--preset--spacing--0);padding-bottom:var(--wp--preset--spacing--0);padding-left:var(--wp--preset--spacing--0)">
                            <!-- wp:outermost/icon-block {"iconName":"","width":"20px"} -->
                            <div class="wp-block-outermost-icon-block">
                                <div class="icon-container"
                                    style="width:20px;transform:rotate(0deg) scaleX(1) scaleY(1)"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                        viewBox="0 0 256 256">
                                        <path
                                            d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm64-88a8,8,0,0,1-8,8H128a8,8,0,0,1-8-8V72a8,8,0,0,1,16,0v48h48A8,8,0,0,1,192,128Z">
                                        </path>
                                    </svg></div>
                            </div>
                            <!-- /wp:outermost/icon-block -->

                            <!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"lsx/post-meta","args":{"key":"duration"}},"__default":{"source":"core/pattern-overrides"}},"name":"Duration"},"fontSize":"200","prefix":"Duration: "} -->
                            <p class="has-200-font-size"></p>
                            <!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:group -->

                        <!-- wp:group {"metadata":{"name":"Travel Style Row"},"className":"lsx-duration-wrapper","style":{"spacing":{"blockGap":"var:preset|spacing|10","padding":{"top":"var:preset|spacing|0","bottom":"var:preset|spacing|0","left":"var:preset|spacing|0","right":"var:preset|spacing|0"}}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
                        <div class="wp-block-group lsx-duration-wrapper"
                            style="padding-top:var(--wp--preset--spacing--0);padding-right:var(--wp--preset--spacing--0);padding-bottom:var(--wp--preset--spacing--0);padding-left:var(--wp--preset--spacing--0)">
                            <!-- wp:outermost/icon-block {"iconName":"","width":"20px","style":{"spacing":{"padding":{"top":"2px","bottom":"2px"}}}} -->
                            <div class="wp-block-outermost-icon-block">
                                <div class="icon-container"
                                    style="width:20px;padding-top:2px;padding-bottom:2px;transform:rotate(0deg) scaleX(1) scaleY(1)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                        viewBox="0 0 256 256">
                                        <path
                                            d="M243.31,136,144,36.69A15.86,15.86,0,0,0,132.69,32H40a8,8,0,0,0-8,8v92.69A15.86,15.86,0,0,0,36.69,144L136,243.31a16,16,0,0,0,22.63,0l84.68-84.68a16,16,0,0,0,0-22.63Zm-96,96L48,132.69V48h84.69L232,147.31ZM96,84A12,12,0,1,1,84,72,12,12,0,0,1,96,84Z">
                                        </path>
                                    </svg></div>
                            </div>
                            <!-- /wp:outermost/icon-block -->

                            <!-- wp:post-terms {"term":"travel-style","prefix":"Travel Styles: ","fontSize":"200"} /-->
                        </div>
                        <!-- /wp:group -->

                        <!-- wp:group {"metadata":{"name":"Destination Row"},"className":"lsx-destination-to-tour-wrapper","style":{"spacing":{"blockGap":"var:preset|spacing|10","padding":{"top":"var:preset|spacing|0","bottom":"var:preset|spacing|0","left":"var:preset|spacing|0","right":"var:preset|spacing|0"}}},"layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"center"}} -->
                        <div class="wp-block-group lsx-destination-to-tour-wrapper"
                            style="padding-top:var(--wp--preset--spacing--0);padding-right:var(--wp--preset--spacing--0);padding-bottom:var(--wp--preset--spacing--0);padding-left:var(--wp--preset--spacing--0)">
                            <!-- wp:outermost/icon-block {"iconName":"","width":"20px"} -->
                            <div class="wp-block-outermost-icon-block">
                                <div class="icon-container"
                                    style="width:20px;transform:rotate(0deg) scaleX(1) scaleY(1)"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                        viewBox="0 0 256 256">
                                        <path
                                            d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm88,104a87.62,87.62,0,0,1-6.4,32.94l-44.7-27.49a15.92,15.92,0,0,0-6.24-2.23l-22.82-3.08a16.11,16.11,0,0,0-16,7.86h-8.72l-3.8-7.86a15.91,15.91,0,0,0-11-8.67l-8-1.73L96.14,104h16.71a16.06,16.06,0,0,0,7.73-2l12.25-6.76a16.62,16.62,0,0,0,3-2.14l26.91-24.34A15.93,15.93,0,0,0,166,49.1l-.36-.65A88.11,88.11,0,0,1,216,128ZM143.31,41.34,152,56.9,125.09,81.24,112.85,88H96.14a16,16,0,0,0-13.88,8l-8.73,15.23L63.38,84.19,74.32,58.32a87.87,87.87,0,0,1,69-17ZM40,128a87.53,87.53,0,0,1,8.54-37.8l11.34,30.27a16,16,0,0,0,11.62,10l21.43,4.61L96.74,143a16.09,16.09,0,0,0,14.4,9h1.48l-7.23,16.23a16,16,0,0,0,2.86,17.37l.14.14L128,205.94l-1.94,10A88.11,88.11,0,0,1,40,128Zm102.58,86.78,1.13-5.81a16.09,16.09,0,0,0-4-13.9,1.85,1.85,0,0,1-.14-.14L120,174.74,133.7,144l22.82,3.08,45.72,28.12A88.18,88.18,0,0,1,142.58,214.78Z">
                                        </path>
                                    </svg></div>
                            </div>
                            <!-- /wp:outermost/icon-block -->

                            <!-- wp:paragraph {"metadata":{"bindings":{"content":{"source":"lsx/post-meta","args":{"key":"destination_to_tour"}},"__default":{"source":"core/pattern-overrides"}},"name":"Destination"},"fontSize":"200","prefix":"Destinations: "} -->
                            <p class="has-200-font-size"></p>
                            <!-- /wp:paragraph -->
                        </div>
                        <!-- /wp:group -->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:group {"metadata":{"name":"Tour Text Content"},"layout":{"type":"default"}} -->
                    <div class="wp-block-group">
                        <!-- wp:post-excerpt {"showMoreOnNewLine":false,"excerptLength":40,"className":"line-clamp-4","fontSize":"200"} /-->
                    </div>
                    <!-- /wp:group -->
                </div>
                <!-- /wp:group -->

                <!-- wp:buttons -->
                <div class="wp-block-buttons">
                    <!-- wp:button {"width":100,"metadata":{"name":"Permalink"},"className":"button-full-width-false button-3d-false is-style-card-button-brand","style":{"border":{"radius":"0px"}}} -->
                    <div
                        class="wp-block-button has-custom-width wp-block-button__width-100 button-full-width-false button-3d-false is-style-card-button-brand">
                        <a class="wp-block-button__link wp-element-button" href="#permalink"
                            style="border-radius:0px">View more</a></div>
                    <!-- /wp:button -->
                </div>
                <!-- /wp:buttons -->
            </div>
            <!-- /wp:group -->
            <!-- /wp:post-template -->
        </div>
        <!-- /wp:query -->
    </div>
    <!-- /wp:group -->
</section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ati-theme-2026","area":"footer"} /-->